.textBox {
	height: 40px;
	padding: 0 16px;
	border-radius: 12px;
	font-size: 14px;
}
.textBox:not(.error),
.fieldSet select.dropDown:not(.error) {
	border-color: white;
}
.fieldSet select.dropDown {
	height: 40px;
	padding: 0 16px;
	border-radius: 12px;
	font-size: 14px;
}
.label {
	font-size: 16px;
	display: block;
	padding-bottom: 8px;
	line-height: normal;
}
.fieldSet {
	border: none;
	padding: 0;
}
.textBox:focus {
	border: 1px solid #fa5b4c;
	transition: 0.3s;
}
.fieldSet .formRow {
	margin: 0 0 20px 0;
	line-height: 0;
}
.legend,
legend {
	font-size: 20px;
	font-weight: 600;
	color: #000;
	margin: 0;
	padding-bottom: 16px;
}

.validation.error,
.validation {
	background: none;
	position: absolute;
	top: 5px;
	right: 0;
	line-height: normal;
}

/* before element in css */
#expirationValidation:before {
	margin-bottom: -17px;
}

.fieldSet select.dropDown.month,
.fieldSet select.dropDown.year {
	width: auto;
}
